fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose
pydantic
authlib
stripe
langchain
langchain-community
langchain-google-genai
tavily-python
itsdangerous
pydantic[email]